<!DOCTYPE html>
<html>
  <head>
    <title>signup</title>
    <link rel='stylesheet' href='/css/style.css' />
     <link rel='stylesheet' href='/css/bootstrap.css' />
  </head>
  <body>
     <form action="/users/signup" method="POST">

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="name" >

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" >

    <button type="submit">Sign up</button>
  </div>
</form> 
  </body>
</html>
